:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e8fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: #2e2f42;
    --grey: #2e2f42;
    --white: #ffffff;
    --dairy: #fcfcfc;
}

.main-header {
    background-color: var(--white);
    color: var(--navy-blue);
}

.main-header a {

}

.nav-bar-list li{
    font-weight: 500;

}

.nav-bar-list li:hover {
    color: var(--ocean);
}

.nav-bar-address {
    color: var(--slate);
    font-style: normal;
}

.nav-bar-address:hover, .nav-bar-address:active {
    color: var(--ocean)
}

.page-title {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
}

.section-title {
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    letter-spacing: 0.02em;
}

.article-title, .image-caption {
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
}

body {
    color: var(--slate);
    background-color: var(--white);
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.order-button {
    background-color: var(--iris);
    color: var(--white);
}

.order-button:hover {
    background-color: var(--ocean);
}


.motto-section {
    background-color: var(--navy-blue);
}

.features-section {
    color: var(--white);
}

.team-section {
    background-color: var(--cloud);
}

.team-member-card {
    background-color: var(--white);
}

.team-member-card-text {
    text-align: center;
}

.team-member-card-text h3 {
    color: var(--navy-blue);
}

.team-member-card-text p {
    color: var(--slate);
}

.portfolio-section {
    background-color: var(--white);
}

.main-footer {
    background-color: var(--navy-blue);
    color: var(--white);
}

a {
    text-decoration: none;
    color: inherit;
}

.logo-link {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.02em;
    font-size: 18px;
    font-weight: bold;
}

.logo-link:active {
    color: var(--iris);
}

.logo-text-left-header {
    color: var(--iris);
}

.logo-text-right-header {
    color: var(--navy-blue);
}

.logo-text-left-footer {
    color: var(--iris);
}

.logo-text-right-footer {
    color: var(--white);
} 

.small-text {
    font-family: inherit;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.body-medium-text {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.body-text {
    font-family: inherit;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.button-text {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.link-text {
    font-family: inherit;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.14;
    text-decoration: underline;
}

